@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
* {
  box-sizing: border-box; 
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html, body{
  height: 100%;
}


