# developemt
*.swo
*.swp
repos
/new-data
/firebase-cache

# dependencies
node_modules

# builds
build
dist
.rpt2_cache

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

