@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}


.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}


.textarea-purge{
  border: none;
  overflow: auto;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
